body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    margin: 0px;
    padding: 0px;
}

.face {
   background-color: blue;
   color: rgb(255, 255, 255);

}
.apple {
    background-color: black;
    color: white;
}
.google {
    background-color: white;
    color: rgb(82, 82, 82);
}

button {
    display: block;
    width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border: solid 0.5px;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
}

.pai {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.continuar {
    text-align: center;
}

input {
    display: block;
    width: 95%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: black 1px solid;
}


.entrar {
    background-color: rgb(63, 96, 243);
    width: 100%;
    
    margin: 10px 0px 0px 2px;
}


.no {
text-decoration: none;
}